%header.header
  %div.header__content
    %div.header__content__up
      %div.header__content__up__left
        = link_to root_path do
          = image_tag 'fmarket_logo_red.svg', alt: 'mercari-logo'
      %div.header__content__up__right
        %form.header__content__up__right__form
          %input{ name: 'seach', class: 'header__content__up__right__form__search',placeholder: '何かお探しですか？' }
        %div.header__content__up__right__submit
          = fa_icon 'search'
    %div.header__content__bottom
      %div.header__content__bottom__left
        %div.header__content__bottom__left__category
          = link_to "#" do
            = icon('fa', 'list-ul ',)
            %span
              カテゴリーから探す
          %ul.header__menu-box--left__parents
            - @parents.each do |parent|
              %li.header__menu-box--left__parents__parent
                = link_to parent.name, "#"
                %ul.header__menu-box--left__children
                  = render partial: "category/category_child", collection: parent.children, as: "category"
        %div.header__content__bottom__left__brand
          = link_to destroy_user_session_path,  method: 'delete' do
            = icon('fa', 'tag ',)
            %span ブランドから探す
          %ul.brand__wrapper
            %li.brand
              %p アディダス
            %li.brand
              %p ナイキ
            %li.brand
              %p ルイ・ヴィトン
            %li.brand
              %p シャネル
            %li.brand
              %p シュプリーム
            %li.brand
              %p ブランド一覧
      - if user_signed_in?
        %ul.header__content__bottom__right
          %li.header__content__bottom__right__like
            = link_to root_path, class: "nav-link" do
              = icon('far', 'heart', class: "nav-icon" )
              %span いいね！一覧
          %li.header__content__bottom__right__notice
            = link_to root_path, class: "nav-link" do
              = icon('far', 'bell', class: "nav-icon")
              %span 
                お知らせ
              %p.notice_num
                99+
          %li.header__content__bottom__right__todo
            = link_to root_path, class: "nav-link" do
              = icon('fas', 'check', class: "nav-icon")
              %span やることリスト
          %li.header__content__bottom__right__mypage
            = link_to root_path, class: "nav-link" do
              = image_tag 'member_photo_noimage.png'
              %span
                = link_to 'マイページ', mypage_index_path, class: "nav-link"
              %div.hover__mypage
                %div.hover__mypage__content
                  %figure
                    %div
                      = image_tag 'member_photo_noimage.png', alt: 'mypage-logo', class: 'hover-img'
                    %figcaption
                      = current_user.nickname
                  %ul.hover__mypage__content__info
                    %li
                      = link_to '評価: 2', '#'
                    %li
                      = link_to "出品数: 99", "#"
                  %ul.hover__mypage__content__point
                    %li
                      = link_to '#' do
                        %div.mypage-list-left 売上金
                        %div.mypage-list-right
                          ¥0
                          = icon 'fas', 'chevron-right'
                    %li
                      = link_to '#' do
                        %div.l-left ポイント
                        %div.l-right
                          P0
                          = icon 'fas', 'chevron-right'
                %ul.hover__mypage__nav-list
                  %li
                    = link_to "#", class: 'hover__mypage__nav-list__item' do
                      出品した商品 - 出品中
                      = icon 'fas', 'chevron-right'
                  %li
                    = link_to "#", class: 'hover__mypage__nav-list__item' do
                      出品した商品 - 取引中
                      = icon('fas', 'chevron-right')
                  %li
                    = link_to "#", class: 'hover__mypage__nav-list__item' do
                      出品した商品 - 売却済み
                      = icon('fas', 'chevron-right')
                  %li
                    = link_to '#', class: 'hover__mypage__nav-list__item' do
                      購入した商品 - 取引中
                      = icon('fas', 'chevron-right')
                  %li
                    = link_to '#', class: 'hover__mypage__nav-list__item' do
                      購入した商品 - 過去の取引
                      = icon('fas', 'chevron-right')

      - else
        %div.header__content__bottom__right
          %div.header__content__bottom__right__signup
            = link_to '新規会員登録', signup_index_path 
          %div.header__content__bottom__right__login
            = link_to 'ログイン', new_user_session_path