%li.pickup__box__bottom__list__range
  %div.pickup__box__bottom__list__range__content
    = link_to product_path(product.id) do
      %div.pickup__box__bottom__list__range__content__text
        %span 
          = product.name
      %div.pickup__box__bottom__list__range__content__title
        %span.pickup__box__bottom__list__range__content__title__price
          ¥ #{converting_to_jpy(product.price)}
        = image_tag "#{product.images[-1].image}", class:'pickup-content__img'
        - unless product.selling_status_id == 1
          %div.soldout-tag
            %span
              SOLD 